@font-face {
    font-family:'Bellota-LightItalic' ;
    src: url(../fonts/Bellota-LightItalic.otf);
}
@font-face {
    font-family:'Bellota-BoldItalic' ;
    src: url(../fonts/Bellota-BoldItalic.otf);
}

body {
    line-height: 17px;
    background-color: #E6EAE8;
}

a{
   color: #20AAE5;
   text-decoration: none;
}

.top-bar {
    width: 100%;
    height:40px;
    min-width: 1050px;
    background-color: #3498db;
    border-bottom: 0.25em solid #1894ca;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a{
    font-family: "Bellota-BoldItalic" , sans-serif;
    margin-left: 10px;
    font-size: 30px;
    position: relative;
    top: 9px;
    text-shadow: #73B6E2 0.5px 0.5px 0;
    color: #1086BA;
}
.logo a:hover {
    text-decoration: none;
}

nav {
    position: absolute;
    float: right;
    margin:10px;
    right:1px;
}

nav a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    padding-left : 3px;
    font-size: 20px;
}

nav a:hover {
    /*border-bottom: 7px solid #e67e22;*/
    text-decoration: none;
    color: #c8c9d7;
    cursor: pointer;
}

nav a:focus {
    text-decoration: none;
    color: #260466;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;

}

.column {
    background-color: white;
    padding: 10px;
    border: 2px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -1;
    color: #555;
}

.user_details {
    width : 250px;
    float: left;
    margin-bottom: 20px;
}

.user_details_left_right {
    width: 125px;
    display: inline;
    position: absolute;
}

.user_details img {
    height : 125px;
    border-radius: 5px;
    margin-right: 5px ;
}

.main_column {
    float: right;
    width: 68%;
    z-index: -1;
    min-height : 160px;
}

.post_form {
    width: 100%;
}
.post_form textarea {
    width: 81%;
    height: 60px;
    border-radius: 3px;
    margin-right: 5px;
    border: 1px solid #D3D3D3;
    font-size: 12px;
    padding:5px;
}
textarea:focus {
    outline: 0;
}

.post_form input[type="submit"] {
    font-family: "Bellota-BoldItalic" , sans-serif;
    width: 11%;
    height: 70px;
    border : none;
    border-radius: 3px;
    background-color: #3498db;
    color: #214db4;
    text-shadow: #73B6E2 0.5px 0.5px 0 ;
    font-size: 90%;
    position: absolute;
    outline: 0;
    margin: 0;
}

.post_form input[type="submit"]:active {
    padding : 5px 4px 4px 5px;
}

.status_post {
    width: 96%;
    padding: 0px 5px;
    font_size: 15px;
    min_height : 75px;
}

.status_post:hover {
    cursor: pointer;
}

.post_profile_pic {
    float: left;
    margin-right: 7px;
}

.post_profile_pic img {
    border-radius: 5px;
}

#comment_iframe {
    width: 100%;
    max-height:250px;
    margin-bottom: 20px;


}

.comment_section {
    padding: 0 5px 5px 5px
}

.comment_section img {
    float:left;
    margin: 0 3px 3px 3px;
    border-radius:3px;
    height:30px;
}

#comment_form textarea {
    border-color:#D3D3D3;
    width:85%;
    height:35px;
    border-radius:5px;
    color: #616060;
    font-size: 14px;
    margin:3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
    background-color: #3498db;
    color: #214db4 ;
    border-radius: 5px;
    width: 13%;
    height: 38px;
    margin-top: 4px;
    position: absolute;
    border-style: none;
    font-family: "Bellota-BoldItalic" , sans-serif;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
}

#comment_form input[type="submit"]:hover {
    cursor: pointer;
}
.newsfeedPostOptions {
    display: block;
    padding: 0px;
    text-decoration: none;
    color: #20AAE5;
    border:none ;
    margin-bottom: 20px;
}

.newsfeedPostOptions iframe {
    position: absolute;
    border: 0;
    width:120px;
    height: 30px;
}
.comment_like {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #3498db;
    height :auto;
    width: auto;
}

.comment_like:hover {
    cursor: pointer;
}

.like_value {
    display: inline;
    font-size: 14px;

}

.profile-left {
    margin-top: 7vh;
    top : -8px;
    width : 17%;
    min-width: 130px;
    max-width: 240px;
    height: 100vh;
    min-height: 100%;
    float: left;
    position: fixed;
    background-color: #3498DB;
    border-right : 10px solid #83D6FE;
    color : #CBEAF8;
    margin-left: 0px;
    margin-right: 20px;
    display: block;
    margin-top: 2%;
}

.profile-left img {
    margin-top: 10%;
    top: 20px;
    min-width: 80px;
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border : 5px solid #83D6FE;
    border-radius : 100px;
}

.profile_info {
    display: list-item;
    background-color: #2980b9 ;
    width : 100%;
    padding : 10px 0 10px 0;
    margin-top: 10%;
}

.profile_info p {
    margin: 0 0 0 20px;
    word-wrap: break-word;
}

.danger {
    background-color: #e74c3c ;
}

.warning {
    background-color: #f0ad4e ;
}

.default {
    background-color: #bdc3c7 ;
}

.success {
    background-color: #2ecc71 ;
}

.info {
    background-color: #3498db ;
}

.deep_blue {
    background-color: #0043f0 ;
}

.profile-left input[type="submit"] {
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin: 7px auto 7px auto;
    display: block;
    border: none;
    color: #fff;
}

#accept_request_button {
    width: 15%;
    height: 28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #2ecc71;
}

#ignore_request_button {
    width: 15%;
    height: 28px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #fff;
    background-color: #e74c3c;
}

.profile_post  textarea{
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.status_post button {
    height: 22px;
    width: 22px;
    padding: 0;
    float: right;
    border-radius: 8px;
    right: -15px;
    position: relative;
    box-shadow: none;
    background-color: #1f93e1;
    color: #fff;
    border: none;
}

.profile_main_column {
    min-width: 675px;
    width: 70%;
    z-index: -1;
    margin-left: auto;

}

.profile_info_buttom {
    display: block;
    margin-top: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.message_main_column {
    float: right;
    width: 70%;
    margin-top: 0.5vh;
}

.left_column_messages {
    float: left;
    width: 25%;
    margin-right : 0;
    padding-right: 0;
    padding-top: 0.5vh;
}

.user_details_messages_low {
    margin-top: 2vh;
    max-height: 50vh;
    overflow: auto;
}

.user_details_messages_up img{
    height : 125px;
    border-radius: 5px;
    margin-right: 5px ;
}

.user_details_messages_low img{
    height : 125px;
    border-radius: 5px;
    margin-right: 5px ;
}


#message_textarea {
    width : 80%;
    margin-right: 8px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
    font-size: 12px;
}

#message_submit {
    height : 45px;
    width : 120px;
    margin : 0;
    position: absolute;
    border: none;
    background-color: #3498db;
    color: #214db4 ;
    border-radius: 5px;
    font-family: "Bellota-BoldItalic" , sans-serif;
    text-shadow: #73B6E2 0.5px 0.5px 0px;
}

.message {
    border : 1px solid #000 ;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;

}

.message#blue {
    background-color: #3498db;
    border-color: #2980b9;
    clear: right;
    float: right;
    margin-bottom: 5px;
    margin-right: 1%;
}

.message#green {
    background-color: #2ecc71;
    border-color: #27ae60;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 1%;
}

.loaded_messages {
    width: auto;
    height: 65%;
    min-height: 300px;
    max-height: 400px;
    overflow: scroll;
    margin-bottom: 10px;
}

.loaded_conversations {
    max-height: 30vh;
    overflow: auto;
}

.user_founded_messages {
    padding: 8px 8px 10px 8px;
    height: auto;

}

.user_founded_messages:hover {
    background-color: #D3D3D3;
}

.user_founded_messages img{
    height: 5vh;
    float: left;
    margin-right: 5px;
    border-radius: 5px;
}

#grey {
    color: #8C8C8C;
}

.resultDisplay {
    padding: 5px 5px 0 4px;
    height: 65px;
    border-bottom: 1px solid #D3D3D3;
}

.resultDisplay a {
    float: none;
}

.resultDisplay:hover {
    background-color: #EBEBEB;
    text-decoration: none;
}

.liveSearchProfilePic img{
    height: 50px;
    border-radius: 25px;
    margin:1px 12px 0 2px ;
    float: left;
}

.liveSearchText {
    background-color: transparent;
    color : #1E96CA;
}

.liveSearchText p{
    margin-left: 10px;
    font-size: 12px;

}

.tab-content {
    margin-top: 25px;
}

#iframe_profile_messages {
    background-color: #fff;
    width:100%;
    height: 80vh;
    padding: 0;
    margin: 0;
    border: transparent;
    z-index: -1;
}
.message_main_column_profile_iframe {
    border: transparent;
    padding: 0.5% 0 0.5% 0;
    height: 100vh;

}

.message_main_column_profile_iframe h4 {
    padding-top: 0;
    margin-top: 0;
}

.loaded_messages_iframe_profile {
    width: auto;
    height: 65%;
    min-height: 300px;
    max-height: 430px;
    overflow: scroll;
}

.message_post_profile_iframe {
    padding-top: 30px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.message_post_profile_iframe form {
    margin-bottom: 10px;
}

.dropdown_data_window {
    background-color: #fff;
    border-radius: 8px 0 8px 8px;
    border-top: none;
    width: 300px;
    position: absolute;
    right: 0px;
    top : 40px;
    overflow: scroll;

}

.notification_badge {
    padding: 3px 7px;
    font-size: 11px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #f00;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    top : -5px;
}

.resultDisplayNotification {
    height: auto;
    collapse: #1485BD;
    padding-bottom: 7px;
    overflow: hidden;
}

.notificationsProfilePic img{
    border-radius: 5px;
    height: 5vh;
    margin: 1px 12px 0px 2px;
    float: left;
}

.time_stamp_smaller {
    font-size: 85%;
    margin: 0;
}

.search {
    margin: 8px 0 0 15%;
}


.div_nav_search_users {
    height: 20px;
}

.search #search_text_input {
    border: 0.5px solid #E5E5E5;
    position: relative;
    float: left;
    outline: 0;
    width: 130px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;

}

.search_button{
    position: relative;
    background-color: #F1F1F1;
    border: 1.5px solid #E5E5E5;
    cursor:pointer;
    float: left;
    text-align: center;
    width: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px ;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.search_results {
    background-color: #fff;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
}

.search_results_footer {
    padding: 7px 4px 0 4px;
    height: 30px;
    border: 1px solid #DADADA;
    border-top: none;
    background-color: #20AAE5;
    text-align: center;
}

.search_results_footer a{
    color: #fff;
}

.search_result_page {
    padding: 10px;

}

.searchPageFriendButton {
    float: right;
}

.searchPageFriendButton input[type="submit"] {
    color: #fff;
    border:none;
    border-radius: 5px;
    height:30px;
    width:160px
}

.searchPageFriendButton #friend_request_pending {
    color: #fff;
    border:none;
    border-radius: 5px;
    height:30px;
    width:160px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.result_profile_pic {
    float: left;
    margin-right: 10px;
}

#search_result_hr {
    margin-bottom: 0;
}

#setting_profile_pic {
    height: 55px;
    margin : 1px 12px 0 2px;
    float: left;
}

.settings_input {
    border: 1px solid #ccc;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
}

.settings_submit {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}

.postedImage img{
   max-height: 300px;
   max-width: 100% ;
   display: block;
   margin: 5px auto;
    border-radius: 5px;
}